<!-- <h5>Hi I am from Dev Component</h5> -->
<h4 style="text-align: center;">Hi I am from Dev Component</h4>
<!--Property Binding-->
<!-- <input disabled = {{false}} [id]="myNameID" type="text" value="Hari">
<input [disabled] = "false" [id]="myNameID" type="text" value="Hari">
<button class="btn btn-primary" bind-disabled="isButton">Is Diasble</button>
<p [innerText]="isButton"></p> -->

<!--Class Binding-->
<!-- <h1 class="success">Angular</h1>
<h1 [class]="_success">JavaScript</h1>
<h1 class="Style" [class]="_success">TypeScript</h1>
<h1 [class.failed]="_pass">Angular CLI</h1>
<h1 [ngClass]="textClass">CodeMe</h1> -->

<!--Style Binding-->
<!-- <h1 [style.color] = "'red'">Style Binding Example 1</h1>
<h1 [style.color] = " error ? 'red' : 'green' ">Style Binding Example 2</h1>
<h1 [style.color] = "sproperty">Style Binding Example 3</h1>
<h1 [ngStyle] = "ngBinding">Style Binding Example 4</h1> -->


<!--Event Binding-->
<!-- <button class="btn btn-primary" (click)="onlangUsed($event)">Button</button>
<h2>{{langUsed}}</h2>

<label>Codeme Notepad</label>
<input
    type="text"
    class="form-control"
    (input)="onUpdate($event)">
<h4>{{codetext}}</h4>
<button class="btn btn-primary" [disabled]="dButton" (click)="dfunction()">{{dtext}}</button> -->


<!--ngIf Directive-->
<!-- <h2 *ngIf="displayName ; else elseBlock">Hi I am from Codeme</h2>
<div *ngIf="displayName ; then ifBlock ; else eBlock"></div>
<button class="btn btn-primary" (click)="displayNamefun()">Show Name</button>

<ng-template #ifBlock>
    <h2>Hi Hari</h2>
</ng-template>
<ng-template #eBlock>
    <h2>Name Is Hidden</h2>
</ng-template> -->


<!--ngSwitch Directive-->
<!-- <div [ngSwitch]="language">
    <div *ngSwitchCase = "'TypeScript'">We are using TypeScript</div>
    <div *ngSwitchCase = "'JavaScript'">We are using JavaScript</div>
    <div *ngSwitchCase = "'Angular'">We are using Angular</div>

    <div *ngSwitchDefault>Please Choose Other programming Language</div>
</div> -->

<!--*ngFor-->
<!-- <div *ngFor="let lang of languages ; even as e">
    <h3>{{e}} {{lang}}</h3>
</div> -->
<!-- <label>Languages</label>
<input type="text" class="form-control" (input)="onUpdatelang($event)">
<button class="btn btn-primary" (click)="addlang()">Add Language</button>
<div *ngFor="let lang of languages">
    <h3>{{lang}}</h3>
</div> -->

<!--Component Interaction-->
<!-- <h3>{{'Hello ' + name}}</h3>
<button class="btn btn-primary" (click)="fireEvent()">Send Data from Child Class to Parent Class</button> -->

<!--Pipes-->
<!-- <h3>{{dob | lastname}}</h3> -->

























